*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navbar{
    margin-top: 1px;
    background-color: black;
    color:white;
    display:flex;
    padding:4px;
    position:sticky;
    
}

.nav-item-1{
    width:50%;
    padding:4px;

}

.nav-item-2{
    width:50%;
    padding:4px;
    display: flex;
    justify-content: right;

}

.nav-item{
    padding:4px;
    padding-right: 8px;
}

.main-page{
    display:flex;
    margin-left: 5px;
}

h1{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:10px;
    padding: 5px;
}

.input-div{
    padding:5px;
    margin:5px 10px;
}
input{
    width:90%;
    height:40px;
    padding:2px 7px;
    
}

.button{
    padding:5px;
    margin:5px 10px;
}

button{
    width:200px;
    height:35px;
    color: white;
    background-color: black;
}


